#navbar ul { 
	margin: 0; 
	padding: 5px; 
	list-style-type: none; 
	text-align: center; 
	background-color: #000; 
} 
 
#navbar ul li {  
	display: inline; 
	font-family: 'Rokkitt', serif;
	font-size: 20px;
} 
 
#navbar ul li a { 
	text-decoration: none; 
	padding: .2em 1em; 
	color: #fff; 
	background-color: #000; 
} 
 
#navbar ul li a:hover { 
	color: #000; 
	background-color: #F3EAD4; 
} 


.jumbotron {
	background-image: url('../images/travel.jpg');
	height: 500px;
	color: black;
	font-family: 'Indie Flower', cursive;
	margin-bottom: 0px;
	border: 2px solid black;
	z-index:-1;  
	background-size: cover;
}

img{
	width: 300px;
	height: 400px;
	border: 2px solid black;
	position: relative;
}

.col-sm-4 {
	text-align: center;
	padding-top: 40px;
	font-family: 'Montserrat', sans-serif;
}
.content-text {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20px;
}
p {
	font-size: 20px;
	padding-top: 20px;
	text-align: justify;
}

.main-content{
	background-color: #F3EAD4;
	padding-bottom: 70px;
}
.first {
	padding-left: 20px;
}
.second{
	padding-right: 20px;
}
.third {
	padding-left: 20px;
}

hr {
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0; 

}

a {
	color: white;
	font-size: 30px;
}

.footer {
	background-color: black;
	color:white;
	font-size: 15px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	position: relative;
	bottom: 0px;
}

.picture-main {
	margin-top: 55px;
	width: 330px;
	height: 440px;
	position: relative;
}

.row {
	margin-left: auto;
	margin-right: auto;
}

.picture-main-main {
	margin-top: -10px;
}