.jumbotron {
	background-image: url('italija.jpg');
	height: 500px;
	color: #C68874;
	font-family: 'Indie Flower', cursive;
	margin-bottom: 0px;
	border: 2px solid black;
}
.cities {
	padding-top: 40px;
	font-family: 'Montserrat', sans-serif;
    text-align: center;
    
}

.main-text {
	padding-left: 30px;
    padding-right: 30px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}
.cuisine-text {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
}

.italy-text {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	text-align: right;
}